/* add your CSS here */

body {
  width: 326px;
}

p {
  color: green;
}

.card-border {
  border: medium solid aqua;
  padding: 0 10px 10px;
  background: aquamarine;
  box-shadow: 5px 5px lightgrey;
}

.information-border {
  border: thin solid aqua;
  padding: 0 10px;
}

.favorite-fact {
  font-style: italic;
}

.animal-list {
  list-style: none;
  padding: 0;
}

.animal-list-item {
  font-weight: bold;
}

.animal-img {
  padding: 0 0 10px;
}
