
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  max-width: 50em;
  margin: auto;
  font-family: "Lato", sans-serif;
  line-height: 1.2em;
  color: #307699;
}

article, img {
  max-width: 100%;
}

h1, h2, figure {
  text-align: center;
  color: #f44242;
}

figure {
  margin: 0;
  color: #f49541;
}

.socialList {
  list-style: none;
  text-align: center;
  margin: 8px 0 0;
  padding: 0;
}

.socialList li {
  display: inline;
  padding: 0 5px;
}

#smileyFace {
  width: 14px;
}

#viewSource {
  text-align: center;
  margin: 4px 0 8px;
}
