
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  max-width: 50em;
  margin: auto;
  font-family: "Lato", sans-serif;
  line-height: 1.2em;
  color: #307699;
}

article, img {
  max-width: 100%;
}

h1, h2, figure {
  text-align: center;
  color: #f44242;
}

figure {
  margin: 0;
  color: #f49541;
}

div {
  height: 50px;
  width: 50px;
  margin: 0 0 0 auto;
}

.socialList {
  list-style: none;
  text-align: center;
  margin: 8px 0 0;
  padding: 0;
}

.socialList li {
  display: inline;
  padding: 0 5px;
}

#svgFire {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 864 864"><style>.a{fill:#00A651;}</style><path d="M556.9 547.8c-81.8 46.6-93.2 139.8-96.6 145.5 -0.1 0.1-0.1 0.3-0.2 0.4V551.9c0-2.8-1-5.5-2.6-7.5 164.1-14 291.7-120.2 291.7-249.1 0-138.4-147.2-250.7-328.7-250.7 -181.6 0-328.7 112.2-328.7 250.7 0 128.6 127 234.5 290.5 249 -1.7 2.1-2.7 4.7-2.7 7.6v135.6c-5.5-22-23.1-98.8-94.9-139.7 -81.8-46.6-177.3 13.6-213.6 35.2 3.4 106.8 81.8 142 138.6 162.5 51.5 18.6 151.7 10 169.9 8.2v13.9c0 6.6 5.4 12 12 12h56.7c6.6 0 12-5.4 12-12v-14c11 1.1 117.9 11.3 171.8-8.1 56.8-20.5 135.2-55.7 138.6-162.5C734.2 561.5 638.7 501.2 556.9 547.8z"/><path d="M454.1 759c0 6.1-4.6 11-10.2 11h-48.2c-5.6 0-10.2-4.9-10.2-11V560.5c0-6.1 4.6-11 10.2-11h48.2c5.6 0 10.2 4.9 10.2 11V759z" class="a"/><path d="M211.6 733.9c-50.3-18.1-127.4-50.6-130.4-145.1 32.2-19.1 124.4-74.1 196.8-32.9 72.4 41.2 86.6 122.1 89.6 127.2 3 5 11.4 61.4 11.4 61.4S261.9 752 211.6 733.9z" class="a"/><path d="M462.6 744.4c0 0 8.3-56.3 11.4-61.4 3-5 17.2-85.9 89.6-127.2 72.4-41.2 164.6 13.7 196.8 32.9 -3 94.5-80.1 127-130.4 145.1C579.6 752 462.6 744.4 462.6 744.4z" class="a"/><path d="M420.4 57.2c-172.5 0-312.3 106.6-312.3 238.1 0 131.5 139.8 238.1 312.3 238.1 172.5 0 312.3-106.6 312.3-238.1C732.7 163.8 592.9 57.2 420.4 57.2zM420.4 490.8c-141.6 0-256.4-87.5-256.4-195.5 0-108 114.8-195.5 256.4-195.5 141.6 0 256.4 87.5 256.4 195.5C676.8 403.3 562 490.8 420.4 490.8z" fill="#ED1C24"/><path d="M420.4 109.6c-134.5 0-243.6 83.2-243.6 185.7 0 102.6 109.1 185.7 243.6 185.7 134.5 0 243.6-83.2 243.6-185.7C664 192.7 555 109.6 420.4 109.6zM420.4 412.6c-85 0-153.8-52.5-153.8-117.3s68.9-117.3 153.8-117.3c85 0 153.8 52.5 153.8 117.3S505.4 412.6 420.4 412.6z" fill="#FFF200"/><path d="M420.4 183.9c-80.7 0-146.2 49.9-146.2 111.4 0 61.5 65.4 111.4 146.2 111.4 80.7 0 146.2-49.9 146.2-111.4C566.6 233.7 501.1 183.9 420.4 183.9zM351.1 331.8c-22.3-0.3-19.3-24.8-19.3-55.4s-2.1-56.3 19.3-55.4c15.1 0.6 19.3 24.8 19.3 55.4S371.8 332 351.1 331.8zM490.9 331.8c-22.3-0.3-19.3-24.8-19.3-55.4s-2.1-56.3 19.3-55.4c15.1 0.6 19.3 24.8 19.3 55.4S511.5 332 490.9 331.8z" fill="#FFF"/></svg>');

  background-size: cover;
}

#smileyFace {
  width: 14px;
}

#viewSource {
  text-align: center;
  margin: 4px 0 8px;
}
