
body {
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  min-height: 150px;
}

.dark-blue {
  background-color: darkblue;
}

.orange-red {
  background-color: orangered;
}

.green {
  background-color: green;
}

.light-blue {
  background-color: lightblue;
}

.yellow {
  background-color: yellow;
}
