
body {
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  height: 100px;
}

.dark-blue {
  background-color: darkblue;
}

.orange-red {
  background-color: orangered;
}

.green {
  background-color: green;
}

.light-blue {
  background-color: lightblue;
}

.yellow {
  background-color: yellow;
}

@media screen and (min-width: 450px) {
  .orange-red, .green {
    width: 50%;
  }
}

@media screen and (min-width: 550px) {
  .dark-blue, .orange-red {
    width: 50%;
  }
  .green, .light-blue, .yellow {
    width: 33.33%;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
